.cast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.title {
  margin-top: 0;
}
.actor {
  margin: 0;
  padding: 0;
  gap: 10px;
}
.cast img {
  display: block;
  width: 100%;
}
.cast p {
  font-size: 15px;
}
