.card {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: 40px;
  padding: 0 40px;
  color: #562675;
}
.title {
  margin-top: 0;
}
.thumb img {
  display: block;
  width: 100%;
}

.addLink a {
  font-size: 20px;
  text-decoration: none;
}

.inactive {
  color: #562675;
}
.active {
  color: #b25deb;
}
.subtitles {
  font-weight: 700;
  margin: 10px 0;
}
.info {
  margin: 0;
}
.progress {
  display: inline-block;
  width: 80px;
}
