.list {
  display: flex;
  list-style: none;
}
.link {
  margin-right: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #562675;
}

.active {
  margin-right: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #b25deb;
}
