.item {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.imagebox {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.title {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;
  text-transform: uppercase;
}
.year {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;
}
